{%extends 'base.html'%}
{% block title %}
Cuestionario 
{% endblock %}

{% block titulo %}
Cuestionario {{evaluaciones.nombre}}
{% endblock %}

{%block content%}
    <b>{{evaluaciones.nombre}}</b>
    <p><b>N° Preguntas:</b> {{evaluaciones.preguntas}}</p>
    <p><b>Nota mínima:</b> {{evaluaciones.score}}</p>
    <p><b>Dificultad:</b>{{evaluaciones.nivel}}</p>
    <p><b>Tiempo:</b> {{evaluaciones.tiempo}}</p>
    <hr>
    

    {%for pregunta in preguntas%}
                <section class="card pregunta grey lighten-3" style="padding:15px ;">
                    <span class="card-title active">{{forloop.counter}}. Pregunta:</span>
                    <p class="caption"> {{pregunta.enunciado|safe}}</p>
                    <div class="card-action white" style="border-radius:10px;">
                      <p>Respuesta:</p>
                        <form action="#">
                            {%for r in pregunta.get_respuesta%}
                            <p>
                              <label>
                                <input name="group1" type="radio" checked />
                                <span><b style="color:rgb(75, 73, 73)">{{r.respuesta}}</b></span>
                              </label>
                            </p>                            
                            {%endfor%}
                          </form>
                    </div>
                
                </section>
               
                {%endfor%}

{% endblock %}